.center {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-para {
        font-family: $content-font-family;
        font-weight: map-get($content-font-weights, extra-light);
        color: $content-text-color;


    }
    &-img{
        width: 5%;
        margin: 4px;
    }
}

