.details{
    padding-top:30px;
    margin-left:12px;
    position: relative;
    &-image{
        width: 90%;
        height: 160px;
        border-radius: 3px;
        margin-bottom: 10px;

    };
    &-name{
        font-family: $content-font-family;
        font-size: .8rem;
        line-height: 1.5;
        display: flex;
        &_title{
            color: $secondary-color;
            text-transform: capitalize;
            font-weight: map-get($content-font-weights, regular);
            margin-right: 2px;
        }
        &_content{
            color: $content-text-color;
            // text-transform: capitalize;
            font-weight: map-get($content-font-weights, extra-light);
            a{
                color: $content-text-color;
            }
        }

    };
    &-cancel{
        position: absolute;
        top: 2%;
        right: 7%;
        background: $heading-text-color;
        border-radius: 100%;
        padding: 2px;
    };
}