.footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    text-align: center;
    margin-top: 40px;
    &-icons {

        &_one {
            width: 5%;
        }

        &_two {
            width: 5%;
        }

        &_three {
            width: 5%;
        }

        &_four {
            width: 5%;
        }
    }
    &-copyright{
        color: $heading-text-color;
        font-weight: map-get($content-font-weights, extra-light);
        font-size: .8rem;
    }
}