.footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    text-align: center;
    // margin-top: 140px;
    z-index: -10;
    font-size: 1.5em;
    font-weight: bold;


    // position: sticky;
    // // bottom: 100px;
    // z-index: -10;
    // padding: .1em;
    // margin: 0 auto;
    // // width: 75%;
    // font-size: 1.5em;
    // font-weight: bold;
    // text-align: center;

    



    &-icons {
        width: 18%;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 20px;
        // position: sticky;
    }
    &-copyright{
        color: $heading-text-color;
        font-weight: map-get($content-font-weights, extra-light);
        font-size: .6rem;
    }
}