.home {
    padding-top: 10vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    position: relative;
    &-tag{
        display: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
        line-height: 1.2;
        font-family: $content-font-family;
        font-weight: map-get($content-font-weights, extra-light);
        &_name {
            color: $content-text-color;
            font-weight: map-get($content-font-weights, regular);
        }
        &_title{
            color: $heading-text-color;
            font-weight: map-get($content-font-weights, regular);


        }
    }
    &-hamburger{
        align-items: center;
        text-align: center;
        margin-top: 15px;
        &_icon{
            cursor: pointer;
            height: 4px;
            width: 30px;
            margin: 0 2px;
            background-color: $heading-text-color;
            display: inline-block;
            transition: background-color 0.6s ease;
           &:hover{
                background-color: $secondary-color;
           }
           
        }
        
    }
    
}
.active{
    background-color:$secondary-color;
   }
