.home {
    padding-top: 10vh;
    overflow: hidden;
    align-items: center;
    text-align: center;

    &-tag{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
        line-height: 1.2;
        font-family: $content-font-family;
        font-weight: map-get($content-font-weights, extra-light);
        &_name {
            color: $content-text-color;
            font-weight: map-get($content-font-weights, regular);
        }
        &_title{
            color: $heading-text-color;
            font-weight: map-get($content-font-weights, regular);


        }
    }
    .hide{
        display: none;
    }
    
}
.home-hamburger{
    align-items: center;
    text-align: center;
    margin-top: 15px;
    &_icon{
        border-bottom: .2rem solid #ECEEFF;
        padding: 12px;
        width: 2px;
        margin-inline: .2rem;
    }
    .active{
        border-bottom: .2rem solid #6F8AF4;
    }
}
