.skills-para {
    font-size: .9rem;
    line-height: 1.2;
    color: #ECEEFF;
    font-weight: 200;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
  }