.skills{
    overflow: hidden;
    width: 100%;
    position: relative;
    // padding-left: 10px;

    &-para{
        font-family: $content-font-family;
        font-size: .9rem;
        line-height: 1.2;
        color: $content-text-color;
        font-weight: map-get($content-font-weights, extra-light);
        padding-inline: 10px;
    }

    &-tech{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        &_logo{
             color: #D35655;
        }
        ul{
            margin-inline: 20px;
            line-height: 1.2;

        }
        li{
            list-style: none;
            font-family: $content-font-family;
            color: $content-text-color;
            font-weight: map-get($content-font-weights, extra-light);
            font-size: .8rem;
            img{
                width: 20%;
                height: 20px;
                fill:#D35655;
            }
        }

    }
}