.skills{
    padding-top: 22vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-left: 10px;
    // &-para{

    // }
    &-tech{
        margin-top: 30px;
        display: flex;
        overflow: hidden;

    }
}