.projects{
    padding-bottom: 100px;
}
.project{
    padding-top: 3vh;
    overflow: hidden;
    width: 100%;
    position: relative;

    &-image{
        opacity: 1;
        display: block;
        width: 80%;
        height: auto;
        transition: .5s ease; 
        backface-visibility: hidden;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px; 
        
    }
    &-text{
        transition: .5s ease;
        // opacity: 0;
        font-size: .9rem;
        position: absolute;
        text-transform: lowercase;
        color: $content-text-color;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%,-50%);
    }
    &:hover{
        opacity: 0.3;
        cursor: pointer;
        
        &-text{
            opacity: 1;
        }

    }
 
    
}

.title{
    margin-left: 36px;
    margin-top: 7px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    font-family: $content-font-family;
    color: $content-text-color;
    font-weight: map-get($content-font-weights, extra-light);
    font-size: .8rem;

}
