$primary-color:#24273D;
$accent-color:#D35655;
$main-text-color:#FFF7D6;
$sub-text-color:#ECEEFF;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":900
);

body{
    background-color: $primary-color;
}