@import 'config';
@import 'detail';
@import 'home';
@import 'nav';
@import 'work';
@import 'skills';
@import 'contact';
@import 'footer';



body{
    background-color: $primary-color;
    color: white;
    line-height: 1;

}
a{
    color: $heading-text-color;
    text-decoration: none;
}
header{
    width: 100%;
    padding: 1rem;
}
main{
    width: 100%;
}
